body {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  height: 100vh;
  background: radial-gradient(circle at top left, rgba(0, 255, 255, 0.3), transparent 60%),
              radial-gradient(circle at top right, rgba(0, 255, 150, 0.3), transparent 70%),
              radial-gradient(circle at bottom left, rgba(255, 0, 255, 0.3), transparent 80%),
              radial-gradient(circle at bottom right, rgba(255, 255, 0, 0.3), transparent 90%),
              radial-gradient(circle at center, rgba(150, 0, 255, 0.3), transparent 90%);
  background-color: #001028; /* Dark sky color for the base */
  background-blend-mode: screen;
}

.scrollable::-webkit-scrollbar {
  height: 3px;
}
.scrollable::-webkit-scrollbar-track {
  background: transparent;
}
.scrollable::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.3);
  border-radius: 10px;
}
.scrollable::-webkit-scrollbar-thumb:hover {
  background: rgba(0, 0, 0, 0.5);
}

.scrollable {
  scrollbar-width: thin;
  scrollbar-color: rgba(0, 0, 0, 0.3) transparent;
  height: 160px; 
  background: #3b605c; 
  color: #fff; 
  overflow-x: auto;
  overflow-y: hidden;
  white-space: nowrap;
}